// Buttons
$primary: #ffb361;
$secondary: #1c1c1c;

// Backgrounds
$primary-background: #1c1c1c;
$card-color: #191919;

// States
$neutral: #ffb361;
$success: #61bf73;
$fail: #cc6666;

// Icons
$icon-color: #6f6f6f;
