@import "./components/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./components/typography";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: $primary-background;
  font-family: Roboto, sans-serif;
}

.main-content {
  margin-bottom: 70px;
}

.form-label {
  color: #888888;
}

.form-control,
.form-control:focus {
  background-color: #282828;
  color: #eee;
  border: none;
}
.btn-secondary {
  background-color: $secondary;
  color: $primary;
}
.btn-secondary:hover {
  background-color: $primary;
  color: $secondary;
}

.navbar-color,
.currencyDisplay,
.card {
  background-color: #242424;
}

.nav-link,
.deadline,
.nftValue,
.inputItemInfoText {
  color: #888888;
}

.active {
  color: $primary;
}

// Collections Page

.tabNav {
  background-color: #282828;
}

.breadcrumbLinkStyle {
  text-decoration: none;
}

.itemLink {
  text-decoration: none;
}

.card:hover {
  border: 1px solid $primary;
}
