@import "./components/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./components/typography";

body {
  background-color: $primary-background;
  font-family: Roboto, sans-serif;
}

.main-content {
  margin-bottom: 80px;
}

.form-label {
  color: #888888;
}

.form-control,
.form-control:focus {
  background-color: #282828;
  color: #eee;
  border: none;
}
.btn-secondary {
  background-color: $secondary;
  color: $primary;
}
.btn-secondary:hover {
  background-color: $primary;
  color: $secondary;
}

.navbar-color,
.currencyDisplay,
.card {
  background-color: #242424;
}

.nav-link,
.deadline,
.nftValue,
.inputItemInfoText {
  color: #888888;
}

.active {
  color: $primary;
}

.sellerAvatar {
  max-width: 24px;
}

// Collections Page

.tabNav {
  background-color: #282828;
}

.breadcrumbLinkStyle {
  text-decoration: none;
}

.itemLink {
  text-decoration: none;
}

.card:hover {
  border: 1px solid $primary;
}

.itemImage {
  object-fit: cover;
  max-height: 327px;
}

// Item Information Form

.pictureInput::placeholder {
  background-image: url(../../../assets/Icons/pngIcon.png);
}

.titleInput::placeholder {
  background-image: url(../../assets/Icons/textIcon.png);
}

.descriptionInput::placeholder {
  background-image: url(../../assets/Icons/descriptionIcon.png);
}
.priceInput::placeholder {
  background-image: url(../../assets/Icons/currencyFormIcon.png);
}

.pictureInput::placeholder,
.titleInput::placeholder,
.descriptionInput::placeholder,
.priceInput::placeholder,
.userName::placeholder {
  background-repeat: no-repeat;
  text-indent: 30px;
}

.userName::placeholder {
  background-image: url(../../assets/Icons/userIcon.png);
}
